html { height: 100%; }
body { height: 100%; }

h3.title {
  margin-bottom: 1rem;
}

h5.subtitle {
  color: #bbb;
  letter-spacing: .1rem;
  text-transform: uppercase;
}

p.description {
  font-family: "Open Sans";
}

.main {
  padding: 8rem 0;
}

.photo {
  background: url('../images/speaker.jpg') center center no-repeat;
  background-size: cover;
  padding: 12rem 0;
  width: 100%;
}

.button[disabled] {
  border-color: #ddd;
  color: #ddd;
}
